DATABASE_URL="postgresql://ticketbox_user:ticketbox_password@localhost:5434/ticketbox_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_EXPIRES_IN="1d"
PORT=3001
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=ticketbox_jwt_secret_dev

APP_BASE_URL=http://localhost:3000
BACKEND_BASE_URL=http://localhost:3001

PAYMENT_WEBHOOK_SECRET=ticketbox_mock_payment_secret

MINIO_ENDPOINT=http://localhost:9000
MINIO_REGION=us-east-1
MINIO_ACCESS_KEY=ticketbox_admin
MINIO_SECRET_KEY=ticketbox_password123
MINIO_BUCKET=ticketbox

QR_SIGNATURE_SECRET=dev_qr_secret

# Email SMTP settings
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=richard.schowalter@ethereal.email
EMAIL_PASS=r5T74ZSMrndVGNc1mZ
EMAIL_FROM="TicketBox <richard.schowalter@ethereal.email>"

GEMINI_API_KEY=AQ.Ab8RN6KOSE44HqKES2GcehBxuk0nrRIiksuoJfHxbyzYSsU_lQ

# Set up
DATABASE_URL="postgresql://postgres:8p+WcE9V7RLY_Tn@db.zeinuhzqdpceflulmykv.supabase.co:5432/postgres"
MINIO_ENDPOINT=https://zeinuhzqdpceflulmykv.storage.supabase.co/storage/v1/s3
MINIO_REGION=ap-southeast-1
MINIO_ACCESS_KEY=7089f566471a99460ce046cc1d8cffd9
MINIO_SECRET_KEY=5f2262b043dd38cf6931d1a90fcb51b303e9dca08d41332188ed2160ac19e0ee

REDIS_URL="rediss://default:gQAAAAAAAT1dAAIgcDI5ZDhiYmM5MGU3MTQ0MDcxOTlmZTE1Y2UxMDE5NGVhNg@ample-boa-81245.upstash.io:6379"
REDIS_HOST="ample-boa-81245.upstash.io"
REDIS_PORT=6379
REDIS_PASSWORD="gQAAAAAAAT1dAAIgcDI5ZDhiYmM5MGU3MTQ0MDcxOTlmZTE1Y2UxMDE5NGVhNg"

